/*voice record*/

.record audio {
	height: 50px;
  width: 95%;
	margin-left: 0px;
}

.record-voice-modal .record-info {
	display: flex;
	align-items: center;
}

.record-info {
	display: flex;
	gap: 10px;
	font-size: 14px;
}